/** {
  margin: 0;
  padding: 0;
}*/

body {
  background: #F2F1F0; /*url('../images/bckg.gif') repeat;
  background: -moz-linear-gradient(top, #fdfdfd, #eee);
  background: -webkit-linear-gradient(linear, center top, center bottom, from(#e1e1e1), to(#eee));*/
  font-family: Georgia
}

a {
  color: #699536;
  text-decoration:none;
}

a:hover {
  color: #444;
  border-bottom: 1px solid #A87C4F;
}

h1, h2, h3 {
  
  font-family: Palatino;
  font-weight: normal;
  border-bottom: 1px solid #A87C4F;
  color: #5F3915;
  background: #e1e1e1;
  background: -moz-linear-gradient(top, #F2F1F0, #e1e1e1);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F2F1F0), to(#E1E1E1));
  padding:10px;
  
}

ul li {
  list-style: none;
}
 
input[type=text], select, textarea, input[type=email], input[type=password] {
  border: 1px solid #C79B6A;
  padding: 4px;
  font-family: Georgia;
  font-size:12px;
} 
 
input[type=submit], input[type=submit]:active {
  border: 1px solid #C79B6A;
  padding:4px;
  background: #fff;
  cursor: pointer;
  font-size: 14px;
  margin: 7px 5px 5px 7px;
  color:#5F3915;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

input[type=submit]:hover{
  margin:5px;
  color: #C79B6A;
  -moz-box-shadow: 2px 2px 2px #555;
  -webkit-box-shadow: 2px 2px 2px #555;
  box-shadow: 2px 2px 2px #555;
  
}

label {
  display:inline-block;
  width:100px;
  height:40px;

}

blockquote {
    background: none repeat scroll 0 0 #fdfdfd;
    border: 1px solid #fdfdfd;
    margin: 50px;
    padding: 30px;
    text-align: center;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
}
/*******************************Logo*************************************/

#logo {
  display:block;
  font-size:32px;
  line-height:72px;
  display:inline;
}

#ampersand {
  font-style:italic;
  font-weight:bold;
  color:#8BC83F;
  text-shadow: 1px 1px 1px #5F3915;
}

/*******************************Navigational Menu*************************************/

#nav ul { float:right; }

#nav ul li { 
  float:left; 
  padding: 10px;
}

#nav ul li a, .links{ 
  color: #5F3915;
  border-bottom: 1px solid #A87C4F;
}

#nav ul li a:hover {
  border: none;
}

#sign-out{
  color: #699536;
  border: none;
}

#sign-out:hover {
  color: #8DC73D;
}

#nav {
  color: #5F3915;
  height: 80px;
  
}


#nav-background {
  border-bottom: 1px solid #A87C4F;
  color: #5F3915;
  background: #e1e1e1;
  background: -moz-linear-gradient(top, #F2F1F0, #e1e1e1);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F2F1F0), to(#e1e1e1));
  height: 80px;
  position:absolute;
  width:100%
}

.sub-nav {
  position: absolute;
  clear: both;
  z-index: 100;
  background: #fff;
  width: 130px;
  margin: 8px 0;
  display: none;
  -moz-box-shadow: 0px 2px 2px #555;
  -webkit-box-shadow: 0px 2px 2px #555;
  border-radius: 0px 2px 2px #555;
}

.sub-nav ul {
  padding: 0;
  margin: auto;
  border: 1px solid #C79B6A;
  background: #fdfdfd;
}

.sub-nav ul li{
  display:block;
  float: none;
  width: 110px;
  border-bottom: 1px solid #eee;
}

#nav ul li .sub-nav ul li a{
  border: none;
  display:block;
  padding: 10px;
}

.sub-nav ul li:hover{
  background: -moz-linear-gradient(top, #fdfdfd, #eee);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#eee));
}

/*******************************Main Content*************************************/

#container {
  color: #444;
  margin:10px;
  padding:10px;
  /*background: #eee;
  -moz-border-radius: 8px;*/
}

.comment-list ul{
  padding: 0;
  margin: auto;
  font-size:14px;
}

.comment-list ul li, #article-info li p, .comment-body, #article-body {
  border: 1px solid #C79B6A;
  background: #fdfdfd;
  padding: 10px;
  margin: 8px 0;
}

.comment-list ul .author-comment {
  border: 1px solid #eee;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.comment-list ul .author-comment a { color: #ff0000; }

#form {
  text-align: top;
}

#flash {
  border-bottom: 1px solid #A87C4F;
  font-style:italic;
  padding: 0 0 0 30px;
}

.field_with_errors {
  display:inline;
  color: #ff0000;
  font-style:italic;
}

.links {
  line-height: 48px;
  margin: 0 0 0 40px;
}

.links:hover { 
  border: none;
  color: #5F3915;
}

#main-list {
  width: 80%;
  padding: 0;
  margin: 0 auto;
}

#main-list li{
  display:block;
  height:40px;
  padding: 14px 0 3px 30px;
  background: #f5f5f5;
  border-bottom: 1px solid #E1E1E1;
  -moz-box-shadow: 0px 1px 2px #555;
  -webkit-box-shadow: 0px 1px 2px #555;
}

#main-list li:hover{
 background: #eee;
/*  border-bottom: 1px solid #E1E1E1;
  margin: 2px;
 
  -moz-box-shadow: none;*/
  
}

#article-info li span{
  display: inline-block;
  width:90px;
  font-size: 13px;
}

#author-info li span {
  display: inline-block;
  width:150px;
  font-size: 15px;
}

#author-info li{
  margin:10px;
}

.full-date {
  padding: 4px 0;
  font-size:12px;
  color: #5F3915;
  font-style: italic;
}

.draft { color: #ff0000; }

.current-author, .posted { color: #6B3915; }

.current-author:after, .posted:after { content: " «" }


#article-info li #article-body p{
  border: none;
  background: #fdfdfd;
  padding: 0;
  margin: 0;
}

#article-info li #article-body span {
  display: inline;
  font-size: inherit;
}

#whoami, #whoami-content {
  width: 150px;
  height: 18px;
  position:fixed;
  background: #fdfdfd;
  top: 0;
  left: 1%;
  border: 1px solid #C79B6A;
  z-index: 100;
  padding: 1px;
  direction: ttb;
}

#whoami-content {
  height: 45px;
  top: 20px;
  display: none;
}


#whoami span {
  cursor: pointer;
  display: block;
  text-align: right;
  color: #5F3915
}

#whoami span:hover {
  background: -moz-linear-gradient(top, #eee, #fdfdfd);
  background: -webkit-gradient(linear, center top, center bottom, from(#fdfdfd), to(#eee));
}

#whoami-content img {
  margin: 3px;
  float: left;
}

#whoami-content span{
  float: left;
}

#whoami-content {
  color: #444;
}

/*******************************Pagination*************************************/

.pagination, .page-entry-info { padding:20px; }

.pagination {
  margin: 10px;
  border-bottom: 1px solid #ddd;
}

/*******************************Images*************************************/

.photo-small {
  -moz-box-shadow: 3px 3px 3px #333;
  -webkit-box-shadow: 3px 3px 3px #333;
}

.photo-thumb {
  border: 1px solid #C79B6A;
}

#map_canvas { 
  border: 3px solid #A87C4F;
  width: 500px; 
  height: 500px; 
  margin: auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/*******************************FORMS*************************************/

/*******************************Comment*************************************/

#comment-form {
  margin: 0;
  padding: 0;
  text-align:center;
}

#comment-form-body {
  width: 99%;
  height: 100px;
  display: block;
}

/*******************************LogIn*************************************/

#pop-box {
  border: 1px solid #C79B6A;
  position: fixed;
  z-index: 1000;
  background: #fff;
  display: none;
  left: 50%;
  margin-left: -310px;
  position: fixed;
  top: 15%;
  width: 500px;
  z-index: 1000;
  padding:30px;
  color: #444444;
  max-height: 430px;
  overflow: auto;
  -moz-box-shadow: 0 10px 10px #AAAAAA;
  -webkit-box-shadow: 0 10px 10px #AAAAAA;
  box-shadow: 0 10px 10px #AAAAAA;
}

#pop-box-close {
  display: block;
  float: right;
  font: bold 20px Helvetica, Arial, sans-serif;
  margin: -20px;
  color: #C79B6A;
}

#pop-box-close:hover{
  color: #5F3915;
  text-decoration: none;
}

#pop-box h2 {
  background: #e1e1e1;
  background: -moz-linear-gradient(top, #fff, #e1e1e1);
  background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#e1e1e1));
}

#disable {
  position: fixed;
  z-index: 999;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

#new_author label, #author_new label {
  width: 200px;
}

#search-form {
  float: right;
  /*width: 270px;
  background: #603915;
  padding: 10px;
  text-align: center;
  margin: 0 0 10px 0;
  -moz-border-radius: 10px;
  background: -moz-linear-gradient(top, #C79B6A, #603915);
  background: -webkit-gradient(linear, center top, center bottom, from(#C79B6A), to(#603915)); */
}


